.modal-body {
    padding: 0;
}
.controlContainer {
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    padding-top: 20px;
    padding-bottom: 20px;

    background: #d5dbe1;
    border-bottom: 2px solid #ccc;
}
.controlContainer .control {
    width: 50%;
}
.controlContainer.highlighted {
    background: #006DCC;
}
#controlList {
    width: 250px;
    height: 300px;
    float: left;
    overflow-y: scroll;
}
#controlOptions {
    padding-left: 10px;
    width: 250px;
    float: left;
}
h2 {
    font-size: 20pt;
    margin: 0;
}
h3 {
    font-size: 15pt;
    margin: 0;
}
